*
{
    padding: 0;
    margin: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0a3c2f;
}

.tainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-family: 'Vibur', cursive;
    font-size: 2em;
    color: #666;
    background: #000;
    cursor: pointer;
   }
   
   .fa{
     margin-left: 20px;
     color: #b3b300;
   }

form {
    width: 385px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffff;
    }
 p .error #generror #errorgen{
    position: relative;
    left: 120px;
color: red;
 }
  label span{
    position: relative;
    left: 120px;
color: red;
  } 

  .fa-circle-check{
    color: #0d614b;
    position: absolute;
    left: 120px;
  }

  
    h2 {
    margin-bottom: 20px;
    cursor: pointer;
    }
    
    label {
    display: block;
    margin-bottom: 10px;
    }
    input[type="username"],
    input[type="text"],
    input[type="email"],
    input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#0d614b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    input[type="submit"]:hover {
    background-color:darkblue;
    }
    
form h2{
    color: #0d614b;
    font-size: large;
}
    #loginContainer p,
    #signupContainer p {
    text-align: center;
    margin-top: 10px;
    }
    
    #loginContainer p a,
    #signupContainer p a {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
    }
    #signupContainer p h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    .error  {
        color:#af4242;
        background-color: #fde8ec;
        padding: 10px;
        display: none;
      }
      .error.display-error{
        display: block;
        margin-bottom: 20px;
        transform: translateY(-20);
      }

.score{
    margin-top: 10px;
    color: #a6a6a6;
    font-size: 20px;
    display: none;
   
}
.message {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
font-weight: 600;
  }
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:#0d614b;
    padding: 8px 15px;
    display: none;
}
h2{
    font-size: 3em;
    color:white;
    text-transform:uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding:15px 20px;
    color:267c65;
    background: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor:pointer;
    font-weight: 600;
}
.reset:focus{
    color:#fff;
background:#267c65;
}

.game{
    width:370px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item::after{
    content:'  ';
    position: absolute;
    inset:0;
    /*opacity: 0.85;*/
    background: #209d7b;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: ;
}
.boxOpen:after,
.boxMatch:after
{
transform: rotateY(90deg);
}


@media (max-width: 500px) {
    .container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            background-color: #0d614b;
            padding: 15px 20px;
        
    }
    h2{
        font-size: 3em;
        color:white;
        text-transform:uppercase;
        letter-spacing: 0.1em;
    }
    
    .reset{
        padding:7.5px 10px;
        color:267c65;
        background: #fff;
        border: none;
        font-size: 1.5em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        cursor:pointer;
        font-weight: 300;
    }
    .reset:focus{
        color:#fff;
    background:#267c65;
    }
    .game{
        width:160px;
        max-height: 1600px;
        grid-template-columns: 3 auto;
        display: flex;
        flex-wrap: wrap;
        transform-style: preserve-3d;
        perspective: 500px;
    }
    
    .item{
        position: relative;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        background: #fff;
        transform: rotateY(180deg);
        transition: 0.25s;
    }
    .item.boxOpen{
        transform: rotateY(0deg);
    }
    .item::after{
        content:'  ';
        position: absolute;
        inset:0;
        /*opacity: 0.85;*/
        background: #209d7b;
        transition: 0.25s;
        transform: rotateY(0deg);
        backface-visibility: ;
    }
    .boxOpen:after,
    .boxMatch:after
    {
    transform: rotateY(90deg);
    }
}
